In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('C:/Users/vincentLee1231995/Desktop/shisedo_data.csv', encoding='unicode-escape')

df.head()

  ²ÕÂ´  ¨Ó©±¤H¼Æ¤µ¥h¤ñ(%)    ¾P°âÃB¹êÁZ ¾P°âÃB¤µ¥h¤ñ(%)
0  TSG              110.5  4.178094e+09         112.90
1   FI              121.1  9.871161e+08         130.50
2   TS                0.0  0.000000e+00           0.00
3   WS              107.6  3.190978e+09         108.40
4  BPI              118.8  1.716311e+07         110.00

In [13]:
df.columns = ['店別', '來電人數今去比(%)', '銷售額實績', '銷售額今去比']

In [15]:
df.head(20)

                           店別  來電人數今去比(%)         銷售額實績   銷售額今去比
0                         TSG       110.5  4.178094e+09  112.90
1                          FI       121.1  9.871161e+08  130.50
2                          TS         0.0  0.000000e+00    0.00
3                          WS       107.6  3.190978e+09  108.40
4                         BPI       118.8  1.716311e+07  110.00
5                         CPB       124.7  4.094519e+08  118.50
6                          EC       419.1  1.394006e+08  960.30
7                         ETS         0.0  0.000000e+00    0.00
8                        IPSA       102.6  2.694412e+08   97.10
9                          LM       244.1  4.813314e+07  229.90
10                       NARS       172.1  1.035261e+08  177.00
11                         OC         0.0  0.000000e+00    0.00
12                      ZOTOS         0.0  0.000000e+00    0.00
13                          B       118.8  1.716311e+07  110.00
14                          H         0.0  0.000000e+00    0.00
15                          X         0.0  0.000000e+00    0.00
16                       BP11       118.8  1.716311e+07  110.00
17  10000211,BPI¼s¤TSOGO 1007        61.4  1.314420e+06   44.50
18  10000213,BPI¤¤ÃcSOGO 1013        70.3  1.674480e+06   99.70
19   10000216,BPIº~¯«¥¨³J1043       130.0  2.518614e+06  167.20

In [24]:
df['店別2']=df['店別']
df.head()

    店別  來電人數今去比(%)         銷售額實績   銷售額今去比  店別2
0  TSG       110.5  4.178094e+09  112.90   TSG
1   FI       121.1  9.871161e+08  130.50    FI
2   TS         0.0  0.000000e+00    0.00    TS
3   WS       107.6  3.190978e+09  108.40    WS
4  BPI       118.8  1.716311e+07  110.00   BPI

In [28]:
stores = []

for i in df['店別']:
    ii = i.split(",")[0]
    stores.append(ii)
    
#stores

In [48]:
df['店別2'] = stores
df2 = df.drop(['店別'],axis=1)
df2.head(20)

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

    來電人數今去比(%)         銷售額實績   銷售額今去比       店別2
0        110.5  4.178094e+09  112.90        TSG
1        121.1  9.871161e+08  130.50         FI
2          0.0  0.000000e+00    0.00         TS
3        107.6  3.190978e+09  108.40         WS
4        118.8  1.716311e+07  110.00        BPI
5        124.7  4.094519e+08  118.50        CPB
6        419.1  1.394006e+08  960.30         EC
7          0.0  0.000000e+00    0.00        ETS
8        102.6  2.694412e+08   97.10       IPSA
9        244.1  4.813314e+07  229.90         LM
10       172.1  1.035261e+08  177.00       NARS
11         0.0  0.000000e+00    0.00         OC
12         0.0  0.000000e+00    0.00      ZOTOS
13       118.8  1.716311e+07  110.00          B
14         0.0  0.000000e+00    0.00          H
15         0.0  0.000000e+00    0.00          X
16       118.8  1.716311e+07  110.00       BP11
17        61.4  1.314420e+06   44.50   10000211
18        70.3  1.674480e+06   99.70   10000213
19       130.0  2.518614e+06  167.20   10000216

In [49]:
df2.to_csv('Shisedo_report_data.csv',index=False)

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html
# https://www.dataindependent.com/pandas/pandas-to-csv/

In [50]:
ddf = pd.read_csv('shisedo_report_data.csv')
ddf.head()

   來電人數今去比(%)         銷售額實績   銷售額今去比  店別2
0       110.5  4.178094e+09  112.90   TSG
1       121.1  9.871161e+08  130.50    FI
2         0.0  0.000000e+00    0.00    TS
3       107.6  3.190978e+09  108.40    WS
4       118.8  1.716311e+07  110.00   BPI

In [52]:
import os
os.getcwd()

#os.path('shisedo_report_data.csv')

'C:\\Users\\vincentLee1231995\\OneDrive\\Documents\\Personal\\Data-Analysis-in-60-Days\\homework\\DAY 11\\進階題目'