# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [3]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})

print(df1)
print("\n")
print(df2)

    fruit  weight  price
0   apple    high      0
1  banana  medium      0
2  orange     low      1
3   apple    high      3
4  banana  medium     10
5  orange     low      2
6   apple    high      2
7  banana  medium     12
8  orange     low      6


    fruit weight  price
0   apple   high      2
1  orange    low      2
2    pine   high      0
3   apple    low     11
4  orange   high      0
5    pine    low      6

In [6]:
# - 依照 fruit 欄位做合併

df_merge = pd.merge(df1, df2, on="fruit")
df_merge

     fruit weight_x  price_x weight_y  price_y
0    apple     high        0     high        2
1    apple     high        0      low       11
2    apple     high        3     high        2
3    apple     high        3      low       11
4    apple     high        2     high        2
5    apple     high        2      low       11
6   orange      low        1      low        2
7   orange      low        1     high        0
8   orange      low        2      low        2
9   orange      low        2     high        0
10  orange      low        6      low        2
11  orange      low        6     high        0

In [7]:
# - 依照 index 索引做合併

df_merge = pd.merge(df1, df2, on="index")
df_merge

KeyError: 'index'

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [ ]:
'''
Your Code
'''

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [12]:
df_concat = pd.concat([df1,df2]).reset_index(drop=True)
df_concat

     fruit  weight  price
0    apple    high      0
1   banana  medium      0
2   orange     low      1
3    apple    high      3
4   banana  medium     10
5   orange     low      2
6    apple    high      2
7   banana  medium     12
8   orange     low      6
9    apple    high      2
10  orange     low      2
11    pine    high      0
12   apple     low     11
13  orange    high      0
14    pine     low      6

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          3     apple       high        3.0
1    banana     medium          6    orange        low        2.0
2    orange        low          0      pine       high       11.0
3     apple       high          5     apple        low        3.0
4    banana     medium          1    orange       high       13.0
5    orange        low          2      pine        low        8.0
6     apple       high         12       NaN        NaN        NaN
7    banana     medium         11       NaN        NaN        NaN
8    orange        low          7       NaN        NaN        NaN